extends layout

block content
    h2 Loan history
    h4 Payments
    p 14-4-2020: Paid 40,000$, Bal: 0.00$ - Cleared
    p 12-4-2020: Paid 56,000$, Bal: 40,000$
    h4 Debt
    p 9-4-2020: Taken 96,000$, Bal: 96,000$