extends layout

block content
  .container
    h2 Login
    form(action='/login', method="post")
      .form-group
        label(for='email') Name:
        input#email.form-control(type='text', placeholder='Enter name', name='name')
      .form-group
        label(for='pwd') Password:
        input#pwd.form-control(type='password', placeholder='Enter password', name='password')
      .form-group.form-check
        label.form-check-label
          input.form-check-input(type='checkbox', name='remember')
          |  Remember me
      button.btn.btn-primary(type='submit') Submit
